@{
    ViewData["Title"] ="Persona";
}
<div class="p-3 mb-2 bg-success text-white">
  <div class="alert alert-success font-weight-bold" role="alert" ford= "bold">
  ESTUDIANTE UGB
  </div>
      <div class="card font-weight-bold  text-center" style=" width:1000px; height: 600px;" >
    
    <div class="alert alert-primary p-3 mb-2 bg-primary text-white" role="alert">
      
      <img  src="https://i.ibb.co/mGVjscd/20210922-154741.jpg" style="width: 300px; height: 400px;" class="rounded mx-auto d-block " alt="20210922-154741"> <br>
          
          INFORMACIÓN PERSONAL <br>
          <br>
          Nombres: Edwin Adony <br>
          Apellidos: Ulloa Diaz <br>
          Estudiante: Ingeneria en Sistemas y Redes Informaticas <br>
          Codigo: SMIS001721 <br>
          San Miguel, San Miguel <br>
          Fecha de nacimiento: 27/11/1996 <br>
          <br>
          
          <div class="p-3 mb-2 bg-dark text-white">GITHUB PERSONAL</button>
  </div>

</div>





    